* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#setGridSizeButton {
  margin-top: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 512px;
  max-width: 512px;
  border: 1px solid black;
}

.panel {
  display: inline-block;
}
